@model MvcApplication1.Models.Review

@{
    ViewBag.title = "this";
    ViewBag.className = "";
    if(ViewBag.Parent == "True")
    {
        ViewBag.className = " parent";
    }
}

<div class="box@(ViewBag.className)">
    <div class="box-header">
        <h2 class="box-title">@Model.Name</h2>
    </div>
    <div class="box-content">
        <p>@Model.Id</p>
        <p>@Model.Country</p>
        <p>@Model.City</p>
        <p>@Model.Rating</p>
    </div>
    <div class="box-footer"></div>
</div>
